<div class="dialog-content-wrapper">
  <mat-toolbar class="toolBg m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Attachments</span>
      <div>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
          <mat-icon svgIcon="closeIcon"></mat-icon>
        </button>
        <!-- <button class="float-add-button" mat-fab style="background-color: #f6b570"
        (click)="uploadClicked()">
        <mat-icon style="color: white;">add</mat-icon> -->
        <img class="add-attachment-icon" src="assets/images/logos/add-button.png" (click)="fileInput2.click()">
        <input hidden type="file" #fileInput2 id="file" (change)="addAttachmentClicked($event)"
          accept="image/x-png,image/gif,image/jpeg,image/jpg,application/pdf" />
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <p> Are you sure you want to {{dialogData.Actiontype}} the {{dialogData.Catagory}} ?</p>
</mat-dialog-content> -->

  <div mat-dialog-content>
    <div fxLayout>
      <div fxFlex="99.9" class="role-side-bar">
        <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
          <ul *ngFor="let attachment of ofAttachments">
            <li style="cursor: pointer;" (click)="attachmentClicked(attachment)">{{attachment.AttachmentName}}</li>
          </ul>
        </div>
      </div>
      <div fxFlex="0.01"></div>
    </div>
  </div>

  <mat-dialog-actions class="m-0 p-16" align="end">
    <button mat-button type="button" (click)="closeClicked()">Close</button>
  </mat-dialog-actions>
</div>