@import "src/@fuse/scss/fuse";
#Order-fuil {

  .progressBarPostion {
    position: absolute !important;
    top: 350px; 
    z-index: 1;
    left: 55%;
  }
    .center {
        padding: 20px !important;
        background-color: white;
      }
  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .PO-Lookup {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 0.64px;
    text-align: left;
    color: #3e3e3e;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TablePadFont;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TablePadFont;
      font-size: 12px;
      text-align: center;
      min-width: max-content !important;
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
    }
  }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
   .tableCellBorder {
      height: 20px;
      vertical-align: middle;
      width: 10px;
      background-color: #d87e39;
      opacity: 0.7;
    }
  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    border-color: gray;
  }
  .hor-timeline {
    height: 8px;
    margin-top: 5px;
    //border-radius: 4px;
  }
  .green-timeline {
    @extend .hor-timeline;
    background-color: #34ad65;
  }
  .orange-timeline {
    @extend .hor-timeline;
    background-color: #efb577;
  }
  .white-timeline {
    @extend .hor-timeline;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .divider1{
    border-left: 1px solid #25262b;
    opacity: 0.2;
    margin-right: 10%;
  }
  .divider{
    border-left: 1px solid #25262b;
    opacity: 0.2;
    margin-right: 5%;
    margin-top: -2%;
    margin-bottom: -20px
  }
  .tab-round1{
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 90%;
    // border-color: #8ba0f9
  }
  .tab-round2{
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 60px;
    /* padding: 0px; */
    margin: 3px;
    // border-color: #8ba0f9;
  }
  .item-round1{
    @extend .tab-round1;
    border-color: #8ba0f9
  }
  .item-round2{
    @extend .tab-round2;
    border-color: #8ba0f9
  }
  .asn-round1{
    @extend .tab-round1;
    border-color: #edb084
  }
  .asn-round2{
    @extend .tab-round2;
    border-color: #edb084
  }
  .grn-round1{
    @extend .tab-round1;
    border-color: #89e075
  }
  .grn-round2{
    @extend .tab-round2;
    border-color: #89e075
  }
  .qa-round1{
    @extend .tab-round1;
    border-color: #f8d68f
  }
  .qa-round2{
    @extend .tab-round2;
    border-color: #f8d68f
  }
  .document-round1{
    @extend .tab-round1;
    border-color: #f98bb5
  }
  .document-round2{
    @extend .tab-round2;
    border-color: #f98bb5
  }
  .flip-round1{
    @extend .tab-round1;
    border-color: #eaeaeb
  }
  .flip-round2{
    @extend .tab-round2;
    border-color: #eaeaeb
  }
  .tab-divider{
    border-left: 1px solid;
    // margin-left: 15px;
    border-color: #000000;
    opacity: 0.2;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px
  }
  ::ngdeep .mat-tab-label{
    height: 150px !important;
  }
 .tab-highlight{
  border-bottom: 2px solid !important;
  border-color: #efb577 !important;
  width: 80px !important;
  margin-top: 10px;
  margin-left: -20px;
 } 
  body.theme-default .mat-tab-group.mat-primary .mat-ink-bar, body.theme-default .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    border: 2px solid !important;
    border-color: #efb577 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    border: 2px solid !important;
    border-color: #efb577 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .Btn1 {
    border-color: #efb577;
    background-color: #efb577;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 11%;
    margin-right: 10px;
    margin-top: 5px;
  }
  .errorClass {
    color: red !important;
  }
  body.theme-default .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
    .mat-header {
    display: flex;
    justify-content: center !important;
  }
}