.toolBg {
    background-color: #121214 !important;
    color: white !important;
}
.btnBg {
    // background-color: #efb577 !important;
    color: #efb577 !important;
}
.btnBg1 {
    background-color: #efb577 !important;
    color: white !important;
}