<div>
  <mat-toolbar >
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Payment Details</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form autocomplete="off" 
  [formGroup]="InvoiceFormGroup">
<div mat-dialog-content class="m-4" >
  <mat-form-field  style="width: 100%;">
    <input matInput placeholder="Amount"  [(ngModel)]="PaymentAmount" formControlName="PaymentAmount">
    <!-- <mat-error *ngIf="InvoiceFormGroup.controls['PaymentAmount'].errors?.required" >Payment Amount should be less than {{data.InvoiceAmount}}</mat-error> -->
    <mat-error
    *ngIf="InvoiceFormGroup.get('PaymentAmount').touched && InvoiceFormGroup.get('PaymentAmount').hasError('required')">
    Amount is required
  </mat-error>
  <mat-error
  *ngIf="InvoiceFormGroup.get('PaymentAmount').touched && InvoiceFormGroup.get('PaymentAmount').hasError('max')">
  Amount should be less than invoice amount
</mat-error>
<!-- <mat-error *ngIf="InvoiceFormGroup.PaymentAmount.errors.max">Amount should be less than invoice amount</mat-error> -->
  </mat-form-field>
</div> 

</form>
<div mat-dialog-actions>
  <button mat-button class="btnBg" [mat-dialog-close]="PaymentAmount" mat-dialog-close (click)="submit()">Submit</button>
  <button mat-button class="btnBg1" [mat-dialog-close]="null" mat-dialog-close>Cancel</button>

</div>
</div>
