<div id="supportdesk" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div>
      <div class="outer" fxLayout>
        <div class="bg"></div>
        <div>
          <h3 style="margin: 0px;padding-left: 10px;"><b>Helpdesk</b></h3>
        </div>
        <div fxFlex align="end">
          <span><img src="../../../../assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
        </div>
      </div>
      <div fxLayout *ngIf="SupportHeaders?.length===0 && IsSupportHeader">
        <div fxFlex>
          <div fxFlex="30" style="margin-left: 5%;margin-top: 5%;">
            <div fxLayout="row" fxLayoutAlign="start">
              <div><span style="font-size: 35px !important;">Let's Connect For </span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div><span style="font-size: 35px !important;">SUPPORT </span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div style="margin-top: 5%;"><span style="opacity: 0.6;">For any element related queries or</span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div><span style="opacity: 0.6;">issues, please write to us.</span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <div fxLayoutAlign="start" style="margin-top: 10%;">
                <button mat-button class="Btn1" style="width: 140%;" (click)="AddSupportTicketClicked()">Connect with Us
                  !
                </button>
              </div>
            </div>
          </div>
          <div fxFlex="70">
            <div fxLayoutAlign="end">
              <div><span><img style="height: 450px;margin-right: 90px !important;margin-top: 10%;"
                    src="../../../../assets/images/illustration.png"></span></div>
            </div>
          </div>
        </div>
        <!-- <div fxFlex align="start">
          <div FxLayout="row" style="height: 400px;">
            <div><span style="font-size: 25px !important;">Let Connectc For </span></div>

            <div><span><img src="../../../../assets/images/illustration.png"></span></div>
          </div>
        </div> -->
      </div>
    </div>
    <div style="padding: 30px;" *ngIf="SupportHeaders?.length" class="content" fxLayout="column">
      <!-- <div fxFlex>
        <span style="font-size: 15px;" class="boldClass orangeBorderBottom pl-8">Raised Tickets</span>
        <h2><strong>Raised Tickets</strong></h2>
        <hr class="rightFlexHr">
      </div> -->
      <table style="width: 100% !important;" class="table" mat-table [dataSource]="SupportDataSource" matSort>
        <ng-container matColumnDef="ReasonCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
          <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
            <div fxLayout>
              <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
              <div fxFlex class="pl-4">{{element.ReasonCode}} </div>
            </div>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="ReasonCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
          <td mat-cell style="text-align: right;" *matCellDef="let element"> {{element.ReasonCode}} </td>
        </ng-container> -->

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.Date | date :'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.Status}} </td>
        </ng-container> -->

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element">
            <img width="50" class="element-image" *ngIf="element.Status" style="cursor: pointer;" [src]="element.Status==='Open' ?'assets/images/open3.png':
                 element.Status==='Closed' ?'assets/images/close.png':''" />
          </td>
        </ng-container>

        <ng-container matColumnDef="AssignTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
          <td mat-cell *matCellDef="let element"> {{element.AssignTo}} </td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="SupportDisplayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: SupportDisplayedColumns;let even=even" matRipple
            style=" cursor: pointer;">
          </tr> -->
        <tr [ngClass]="BGClassName?.layout?.toolbar?.background" mat-header-row
          *matHeaderRowDef="SupportDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: SupportDisplayedColumns;" (click)="OnSupportHeaderRowClicked(row)"
          style=" cursor: pointer;" [class.highlight]="row === SelectedSupportHeader"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
      <!-- <div fxFlex fxLayout="column" class="mx-20 my-12">
        <div fxLayoutAlign="end">
          <button class="Btn2" mat-fab (click)="AddSupportTicketClicked()">
            <mat-icon class="s-16">add</mat-icon>
          </button>
        </div>
      </div> -->
      <div fxLayout>
        <div fxFlex fxLayoutAlign="end">
          <button *ngIf="SupportHeaders?.PatnerID===this.authenticationDetails.UserName" class="float-add-button"
            mat-fab style="background-color: #f6b570" (click)="AddSupportTicketClicked()">
            <mat-icon style="color: white;">add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile">
    </div>
  </div>
</div>