@import "src/@fuse/scss/fuse";

.tour-screen-dialog {
  .mat-radio-button {
    margin: 0 5px;
  }
  .mat-dialog-container {
    padding: 0px;
    //width: 1140px;
    width: 75vw !important;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .mat-dialog-content {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    max-height: 80vh;
  }
  .toolBg {
    background-color: #121214 !important;
    color: white !important;
  }
  .btnBg {
    background-color: #efb577 !important;
    color: white !important;
  }
}
.image {
  width: 850px;
  height: 425px;
}
.next-button {
  background-color: #f4cda4;
  color: white;
  margin-left: 80%;
  font-size: 25px;
  width: 155px;
  height: 70px;
  outline: none !important;
  box-shadow: none !important;
}
.footer-text {
  line-height: 1.5em;
}
.footer-text1 {
  line-height: 1.5em;
  margin-right: 26%;
}
.modal-content {
  height: 100%;
  width: 890px;
}
.carousel-indicators li {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #75c3fa;
}
.carousel-indicators {
  bottom: -206px;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: -68%;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #75c3fa;
}
