<div id="faq" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Frequently Asked Questions</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxFlexFill fxLayout="column" class="content-card1">
      <mat-card class="mat_card" fxFlex>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <mat-card-content class="mat_card_content">
                <div class="cl_div">
                    <ngx-dropzone  *ngIf="!url_1" accept=".pdf" (change)="onSelect($event)" class="dropzone">
                        <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <iframe  *ngIf="url_1" [src]="url_1" class="iframe"></iframe>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutAlign="space-between center" class="mat_card_actions">
                    <input style="display: none;" type="file" name="profile" accept=".pdf" id="upload"
                        formControlName="profile" (change)="onFileSelect($event)" #fileinput>
                    <button type="button" mat-raised-button (click)="fileinput.click()" class="save_button">Select
                        File</button>
                    <button type="submit" mat-raised-button class="release_button1">Upload</button>
                </mat-card-actions>
            </mat-card-content>
        </form>
    </mat-card>
    </div>
    <!-- <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div> -->
  </div>
</div>