<div id="declaration" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Declaration</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxLayout="column" class="content-card1">
      <mat-card class="mat_card">
        <p
          style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:600;letter-spacing: 0.3px;font-size: 15px;">
          MSME</p>
        <!-- <p class="line" ></p> -->
        <p [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="borderbottom"></p>
        <div style="display: flex;">
          <p class="msme">MSME Enrolled :</p>
          <mat-slide-toggle style="margin-left: 21px;
            margin-top: -4px;" required></mat-slide-toggle>
        </div>
        <div style="display: flex;margin-top: 10px;">
          <p class="category">MSME Category :</p>
          <select class="select">
            <option></option>
          </select>
        </div>
        <div style="display: flex;margin-top: 20px;">
          <p class="upload">Upload Document :</p>
          <div style="display: flex;" class="rect">
            <p class="green"></p>
            <p class="pink"></p>
            <img src="assets/images/screen.png" class="screen">
            <p class="invoice">Invoice_details.pdf</p>
          </div>
          <p class="kb">96 KB</p>
          <button class="button1" [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Upload</button>
          <img src="assets/images/upload.png" class="upload_img">
        </div>
      </mat-card>
      <mat-card class="mat_card">
        <p
          style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:600;letter-spacing: 0.2px;font-size: 15px;">
          Related Party</p>
        <!-- <p class="line1"></p> -->
        <p [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="borderbottom1"></p>
        <div style="display: flex;">
          <p class="related_party">Related Party :</p>
          <mat-slide-toggle style="margin-left: 21px;
            margin-top: -4px;" required></mat-slide-toggle>
        </div>
        <div style="display: flex;margin-top: 10px;">
          <p class="remark">Remark :</p>
          <select class="select">
            <option></option>
          </select>
        </div>
        <div style="display: flex;margin-top: 20px;">
          <p class="upload">Upload Document :</p>
          <div style="display: flex;" class="rect">
            <p class="green"></p>
            <p class="pink"></p>
            <img src="assets/images/screen.png" class="screen">
            <p class="invoice">Invoice_details.pdf</p>
          </div>
          <p class="kb">96 KB</p>
          <button class="button1" [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Upload</button>
          <img src="assets/images/upload.png" class="upload_img">
        </div>
      </mat-card>
      <mat-card class="mat_card">
        <p
          style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:600;letter-spacing: 0.2px;font-size: 15px;">
          Lower TDS</p>
        <!-- <p class="line2"></p> -->
        <p [ngClass]="BGClassName?.layout?.navbar?.secondaryBackground" class="borderbottom2"></p>
        <div style="display: flex;">
          <p class="lower_tds">Lower TDS Applicable :</p>
          <mat-slide-toggle style="margin-left: 21px;
            margin-top: -4px;" required></mat-slide-toggle>
        </div>
        <div style="display: flex;margin-top: 10px;">
          <p class="tds_rate">TDS Rate :</p>
          <select class="select">
            <option></option>
          </select>
        </div>
        <div style="display: flex;margin-top: 20px;">
          <p class="upload">Upload Document :</p>
          <div style="display: flex;" class="rect">
            <p class="green"></p>
            <p class="pink"></p>
            <img src="assets/images/screen.png" class="screen">
            <p class="invoice">Invoice_details.pdf</p>
          </div>
          <p class="kb">96 KB</p>
          <button class="button1" [ngClass]="BGClassName?.layout?.navbar?.primaryBackground">Upload</button>
          <img src="assets/images/upload.png" class="upload_img">
        </div>
      </mat-card>
    </div>
    <!-- <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div> -->
  </div>
</div>